{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

                    {% block nav %}
                        <div class=" nav-content nav-underline d-none d-xl-flex d-xxl-flex  d-md-flex ">
                            <li class="nav-item nav-underline d-none d-xl-flex d-xxl-flex  d-md-flex" style="list-style: none;">
                                <a class="nav-link" href="/">Головна</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link fw-bold" href="/about">Про компанію</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link " href="/delivery">Доставка та оплата</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link" href="/consultation"> Консультація</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link" href="/contact">Контакти</a>
                            </li>
                        </div>
                    {% endblock %}

{% block body %}
<div class="p-3" style="margin-top: 50px;">
    <h2>Про компанію</h2>
    <div class="p-3 bg-white">
        <p class="fw-bold">Інтернет-магазин Дрон-Сіті</p>
        <p>Дрон-Сіті - це інтернет-магазин, який спеціалізується на продажу квадрокоптерів і аксесуарів до них. Ми пропонуємо широкий вибір пристроїв для будь-яких завдань і будь-якого бюджету.</p>
        <p>Наша команда складається з досвідчених фахівців, які є справжніми ентузіастами квадрокоптерів. Ми постійно стежимо за новинками в цій галузі і прагнемо пропонувати нашим клієнтам тільки найкращі пристрої.</p>
        <p>Ми пропонуємо широкий вибір квадрокоптерів для початківців, любителів і професіоналів. Для початківців ми пропонуємо прості і доступні моделі, які ідеально підходять для навчання основам керування квадрокоптером. Для любителів ми пропонуємо більш потужні і функціональні моделі, які дозволять вам створювати захоплюючі відео і фото. Для професіоналів ми пропонуємо високотехнологічні моделі, які підходять для професійної фото- і відеозйомки, а також для виконання складних завдань, таких як аерофотозйомка, інспектування об'єктів і т.д.</p>
        <p class="fw-bold">Наші переваги:</p>
        <ul>
            <li>
                <p>Широкий вибір продукції: у нас ви знайдете квадрокоптери від відомих брендів, таких як DJI, Autel Robotics, Parrot, Ryze Robotics і багато інших. У нашому асортименті представлені пристрої для початківців, любителів і професіоналів.</p>
            </li>
            <li>
                <p>Топові моделі 2023 року: ми постійно оновлюємо свій асортимент, щоб наші клієнти могли купити найновіші і найтехнологічніші квадрокоптери.</p>
            </li>
            <li>
                <p>Індивідуальний підхід: ми розуміємо, що кожен клієнт має свої потреби і вимоги. Тому ми завжди готові допомогти вам вибрати квадрокоптер, який ідеально підійде саме вам.</p>
            </li>
            <li>
                <p>Прямі поставки від виробників: ми співпрацюємо з виробниками безпосередньо, щоб гарантувати найвигідніші ціни і оперативну доставку.</p>
            </li>
            <li>
                <p>Офіційна гарантія: на всі квадрокоптери в нашому магазині діє офіційна гарантія від виробника.</p>
            </li>
            <li>
                <p>Надійна перевірка пристроїв: перед відправкою кожен квадрокоптер ретельно перевіряється нашими фахівцями.</p>
            </li>
            <li>
                <p>Власний сервісний центр: у нас є власний сервісний центр, де ви можете отримати професійну допомогу в разі поломки вашого квадрокоптера.</p>
            </li>
            <li>
                <p>оступні ціни: ми прагнемо зробити квадрокоптери доступними для всіх.</p>
            </li>
            <li>
                <p>Доставка по всій Україні: ми доставляємо квадрокоптери по всій Україні зручним для вас способом.</p>
            </li>
        </ul>
        <p>Якщо ви шукаєте надійний інтернет-магазин квадрокоптерів, то Дрон-Сіті - це найкращий вибір. Ми допоможемо вам знайти ідеальний квадрокоптер для ваших завдань і бюджету.</p>
    </div>
</div>
{% endblock %}