{% extends 'base.html' %}

{% block title %}
<title>Delivery</title>
{% endblock %}

                    {% block nav %}
                        <div class=" nav-content nav-underline d-none d-xl-flex d-xxl-flex  d-md-flex ">
                            <li class="nav-item nav-underline d-none d-xl-flex d-xxl-flex  d-md-flex" style="list-style: none;">
                                <a class="nav-link" href="/">Головна</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link" href="/about">Про компанію</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link fw-bold" href="/delivery">Доставка та оплата</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link" href="/consultation"> Консультація</a>
                            </li>
                            <li class="nav-item ms-4" style="list-style: none;">
                                <a class="nav-link" href="/contact">Контакти</a>
                            </li>
                        </div>
                    {% endblock %}

{% block body %}
<div class="p-2" style="margin-top: 50px;">
    <h2>Доставка та оплата</h2>
    <div class=" p-3 bg-white">
        <p class="fw-bold">Способи доставки</p>
        <p>Інтернет-магазин Дрон-Сіті піклується про своїх клієнтів і цінує їх час, тому, для Вашої зручності, щоб замовлення з`явилося у Вас якнайшвидше - ми пропонуємо різні способи доставки.</p>
        <p><span class="fw-bold">Доставка «Нова Пошта».</span> Замовлення на суму понад 5000 грн. доставляється безкоштовно, в іншому випадку – згідно з тарифами «Нової Пошти» (50 – 70 грн).</p>
        <ul>
            <li>
                <p>Відправляємо замовлення післяплатою, але, за бажанням, ви можете змінити спосіб доставки, вказавши це по телефону</p>
            </li>
            <li>
                <p>Ви можете перевірити товар при отриманні та лише після цього сплатити Ваше замовлення.</p>
            </li>
        </ul>
        <p><span class="fw-bold">Доставка «Укрпошта».</span> Замовлення на суму понад 5000 грн. доставляється безкоштовно, в іншому випадку – згідно з тарифами «Укрпошти» (35 – 50 грн).</p>
        <p><span class="fw-bold">«Самовивіз».</span> У Києві Ви можете забрати своє замовлення у кур'єра під час зустрічі. Прийом замовлень здійснюється через офіційний сайт цілодобово.</p>
        <p>Видача замовлень за графіком: понеділок – субота: 10:00 – 18:00.</p>
        <p>Будь ласка, погодьте візит із менеджером за телефоном: +38 099 000 000.</p>
        <p>Адреса: м. Львів, вул. Львівська проспект 16.</p>
        <p class="fw-bold">Доставка кур'єром</p>
        <p class="fw-bold">Способи оплати</p>
        <p class="fw-bold">Оплата за реквізитами</p>
        <p>здійснюється на картку Приват банку. Після оформлення замовлення на сайті з Вами зв'яжеться менеджер і відправить SMS з реквізитами для оплати (при оплаті замовлення не забувайте про комісію банку).</p>
        <p class="fw-bold">Оплата за реквізитами</p>
        <p>Цей спосіб дозволяє оплатити товар при отриманні посилки, згідно з тарифами транспортної кампанії, попередньо оглянувши товар. Післяплатою посилки відправляються вартістю до 2000 грн.</p>
        <p>Важливо! Будь ласка, перевіряйте відсутність механічних пошкоджень та комплектації, наявність товару при отриманні у присутності працівника служби доставки. Магазин не гарантує вирішення спірних ситуацій із товаром на вашу користь, якщо товар не був перевірений при отриманні.</p>
        <p class="fw-bold">Система LiqPay</p>
        <ul>
            <li>
                <p>оплата замовлення карткою Visa, Mastercard.</p>
            </li>
        </ul>
        <p class="fw-bold">Оплата частинами</p>
        <ul>
            <li>
                <p>Приват Банк.</p>
            </li>
            <li>
                <p>Швидка розстрочка</p>
            </li>
            <li>
                Приват Банк.
            </li>
        </ul>
        <p class="fw-bold">Гарантія:</p>
        <p>Умови надання гарантії на дрони та іншу техніку</p>
        <p>Продавець товару несе гарантійні зобов'язання протягом гарантійного періоду за умови дотримання перерахованих нижче умов. Компанія бере на себе всі витрати на експертизу, матеріали, роботи та оплату доставки за наявності проблем із заводською якістю продукту.</p>
        <ul>
            <li>
                <p>З моменту покупки та протягом терміну гарантії пристрій використовувався правильно без порушення умов експлуатації.</p>
            </li>
            <li>
                <p>Гарантія знімається при попаданні всередину пристрою води та іншої рідини (крім дронів, призначених для роботи в такому середовищі).</p>
            </li>
            <li>
                <p>Не проводилося самостійне розбирання та ремонт пристрою чи його модернізація самостійно.</p>
            </li>
            <li>
                <p>Не проводилося самостійне розбирання та ремонт пристрою чи його модернізація самостійно.</p>
            </li>
            <li>
                <p>Товар має повну комплектацію та оригінальну упаковку.</p>
            </li>
        </ul>
        <p>здійснюється по Києву. Вартість доставки 250 грн. Замовлення на суму понад 5000 грн. доставляється безкоштовно. Також можлива експрес - доставка по Києву протягом години, що оплачується покупцем, згідно з тарифом служби таксі.</p>
        <ul>
            <li>
                <p>Всі замовлення, оформлені до 14:00, відправляються в день замовлення. Після 14:00 – наступного дня (по буднях).</p>
            </li>
        </ul>
        <h5 class="fw-bold">Процес покупки</h5>
        <div class="row p-1 justify-content-center align-items-center"  >
            <div class="col d-flex flex-column align-items-center justify-content-center" style="max-width: 200px;">
                <lord-icon
                    src="https://cdn.lordicon.com/depeqmsz.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>
                <p class=" text-center"> Оформлення покупки на саті</p>
            </div>
            <hr class="col d-none d-xl-flex d-xxl-flex  d-md-flex " >
            <div class="col d-flex flex-column align-items-center justify-content-center" style="max-width: 200px;">
                <lord-icon
                    src="https://cdn.lordicon.com/ogkflacg.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>
                <p class=" text-center">обробка замовлення</p>
            </div>
            <hr class="col  d-none d-xl-flex d-xxl-flex  d-md-flex ">
            <div class="col d-flex flex-column align-items-center justify-content-center" style="max-width: 200px;">
                <lord-icon
                    src="https://cdn.lordicon.com/srsgifqc.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>
                <p class=" text-center">сконтактування з клієнтом</p>
            </div>
            <hr class="col  d-none d-xl-flex d-xxl-flex  d-md-flex " >
            <div class="col d-flex flex-column align-items-center justify-content-center" style="max-width: 200px;">
                <lord-icon
                    src="https://cdn.lordicon.com/wmlleaaf.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>
                <p class=" text-center">доставка замовлення</p>
            </div>
            <hr class="col  d-none d-xl-flex d-xxl-flex  d-md-flex " >
            <div class="col d-flex flex-column align-items-center justify-content-center" style="max-width: 200px;">
                <lord-icon
                    src="https://cdn.lordicon.com/xuyycdjx.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>
                <p class=" text-center">оплата після перевірки товару</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}